
.idea/encodings.xml
.idea/falloutminigame.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/minigame.cpython-37.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/Batuhan.xml
heroku_logs.bat
db_scripts/get_playlist.py
