.idea/encodings.xml
.idea/falloutminigame.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/minigame.cpython-37.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/Batuhan.xml
__pycache__/bot_data.cpython-37.pyc
__pycache__/project_2.cpython-37.pyc
__pycache__/youtube_bot.cpython-37.pyc
modules/__pycache__/youtube_bot.cpython-37.pyc
modules/__pycache__/story_teller.cpython-37.pyc
modules/__pycache__/minigame.cpython-37.pyc
