pyngrok
discord.py==1.7.1
ffmpeg==1.4
python-dotenv==0.15.0
pymysql==0.9.3
PyNaCl==1.4.0
urllib3==1.26.5
youtube-dl==2021.04.07
youtube-search==1.1.1
requests==2.31.0
nest_asyncio
websocket-client
requests
tls-client
pypasser
names
colorama
curl_cffi
aiohttp
flask
flask_cors
streamlit
selenium
fake-useragent
twocaptcha
streamlit-chat@https://github.com/AI-Yash/st-chat/archive/refs/pull/24/head.zip
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
random-password-generator
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
PyExecJS
browser_cookie3
